body{
	background-color: rgba(20,20,20,0.1);
}

h1, div>span{
	font-family: "Arial Black", Verdana, "Trebuchet MS";
	color: rgba(0, 100, 200, 0.7);
}

.highlight{
	font-family: "Arial Black", Verdana, "Trebuchet MS";
	color: rgba(4, 15, 170, 0.7);
}

.topic{
	padding: 5px;
	margin: 7px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid rgba(20,20,20,0.2);
	border-left: 5px solid rgba(20, 20, 20, 0.5);
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	
}
.topic:hover{
	border-left: 5px solid rgba(3, 196, 255, 0.8);
}

#my_photo, .mood{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	vertical-align: middle;
}