
body {
    margin-left: 20%;
    margin-right: 20%;
}
body, input, button {
    font-family: "Century Gothic",sans-serif;
    font-size: 20pt;
}
div {
    margin: 0.5em;
}
footer{
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: 0.8;
}
footer a{
	display: block;
}