body{
    background-image: url("./images/silverware.jpg");
    background-repeat: repeat;
    background-color: #ffffff;
    color: rgb(64, 64, 64);
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

footer{
    text-align: right;
}

a{
    color: rgb(164, 164, 0);
}

span.canceled{
    text-decoration: line-through;
}

header{
    letter-spacing: 0.25em;
}
header h2 {
    text-align: center;
}

h2>span, h3>span {
    color: rgb(164, 164, 0);
    background-color: rgb(240, 240, 240);
    text-decoration: underline;
    font-size: 22pt;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

h3>span {
    font-size: 18pt;
    font-weight: normal;
}

ul li{
    list-style-image: url("./images/pie_icon.gif");
}

blockquote>article{
    background-color: rgb(255, 255, 168);
    font-style: italic; 
}